{% extends "base.html" %}
{% block title %}Your profile{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">

        {% include "profile_info.html" %}

        <div class="col-md-9">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% include "post_item.html" with post=post %}

            {% include 'comments.html' with items=comments form=form %}

        </div>
    </div>
</main>
{% endblock %}
